<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layoutdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LayoutActivity.LinearLayoutActivity"
            android:label="@string/Linear" />
        <activity
            android:name=".LayoutActivity.RelativeLayoutActivity"
            android:label="@string/Realtive" />
        <activity
            android:name=".LayoutActivity.MyLayoutActivity"
            android:label="@string/My" />
        <activity
            android:name=".LayoutActivity.FrameLayoutActivity"
            android:label="@string/Frame" />
        <activity
            android:name=".LayoutActivity.TableLayoutActivity"
            android:label="@string/Table" />
        <activity
            android:name=".LayoutActivity.AbsoluteLayoutActivity"
            android:label="@string/Absolute" />
        <activity android:name=".MyView.MyViewActivity" />
        <activity android:name=".Service.ServiceActivity" />
        <activity android:name=".BroadCastReceiver.BroadcastReceiverActivity" />
        <activity android:name=".ContentProvider.ContentProviderActivity" />
        <activity android:name=".LayoutActivity.LayoutActivity" />
        <activity android:name=".ContentProvider.ContactsActivity" />
        <activity android:name=".sharedpreferencesdemo.SharedpreferencesActivity" />
        <activity android:name=".sharedpreferencesdemo.LoginActivity" />
        <activity android:name=".sharedpreferencesdemo.RegisterActivity" />
        <activity android:name=".sharedpreferencesdemo.WelcomeActivity" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".sqlitedemo.SqliteActivity" />
        <activity android:name=".mediaplayerdemo.MediaActivity" />
        <activity android:name=".mediaplayerdemo.VideoActivity"></activity>
    </application>

</manifest>